@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&display=swap');

/*Esse próximo trecho de marcação é para retirar as coisas que já vem pré formatada no HTML, que pode acabar prejudicando no nosso site*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}

body {
    background: linear-gradient(68.15deg, #3e1b3f 16.62%, #d1008b 85.61%);
    font-size: 100%;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.cabecalho-kaka {
    color: #FFF2E7;
    font-size: 21px;
    font-weight: 400px;
    font-family: 'Sarala', sans-serif;
}

.cabecalho-menu {
    display: flex;
    gap: 25px;
}

.cabecalho-menu-item {
    color: #FFF2E7;
    font-size: 18px;
    font-weight: 400px;
    font-family: 'Sarala', sans-serif;
}

.principal {
    border-top: 0.5px solid #FFF2E7;
    margin-bottom: 60px;
}
.principal-secao {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 40px;
}
.principal-secao-primeira {
    margin-top: 56px;
}

.principal-secao-primeira-titulo {
    font-size: 40px;
    font-weight: 400px;
    font-family: 'Righteous', cursive;
    color:#FFF2E7;
}

.principal-secao-primeira-nome {
    padding-top: 10px;
    font-size: 22px;
    font-weight: 400px;
    font-family: 'Sarala', sans-serif;
    color: #ECD6C4;
}

.principal-secao-segunda {
    display: flex;
    flex-direction: column;
    align-items: right;
    margin-top: 30px; 
}
.principal-secao-segunda-total {
    font-size: 30px;
    font-weight: 400px;
    font-family: 'Righteous', cursive;
    color:#FFF2E7;
}
.principal-secao-segunda-pago {
    font-size: 18px;
    font-weight: 400px;
    font-family: 'Righteous', cursive;
    color:#FFF2E7;
}

.segunda-secao {
    display: flex;
    align-items: center;
    margin-top: 50px;
    gap: 24px;
}
.segunda-secao-botao {
    margin-top: 35px;
    width: 180px;
    height: 60px;
    border: none;
    border-radius: 20px;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    font-size: 24px;
    font-weight: 400px;
    font-family: 'Sarala', sans-serif;
    color: #2F2325;
}

.rodape {
    margin-top: 150px;
    border-top: 0.4px solid #FFF2E7;
    margin-left: 30%;
    margin-right: 30%;
    padding: 42px;
}
.rodape-autor {
    font-size: 24px;
    font-weight: 400px;
    font-family: 'Sarala', sans-serif; 
    color: #42141c;
}